<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
  <bean id="knight" class="maria.DSSInyecciones.KnightOfTheRoundTable">
    <constructor-arg value="Lancelot" />
    <property name="quest" ref="quest" />
  </bean>
 
  <bean id="quest" class="maria.DSSInyecciones.HolyGrailQuest" />
 
</beans>
